body {
	font-size: 15pt;
}

table {
	border-collapse: collapse;
	margin: auto;
	table-layout: fixed;
	width: 480px;
	height: 480px;
	border: 2px solid black;
	border-color: black;
}

td {
	/* border-collapse: collapse; */

	width: 60px;
	min-width: 60px;
	min-height: 60px;
	height: 60px;
	color: red;
	border: 0px solid black;
	border-color: black;
	word-wrap: break-word;
}

img {
	/* grid-column: 1;
	grid-row: 1; */
	/* position: relative; */
	z-index: 5;
	width: 40px;
	height: 55px;
	padding: 3px;
	padding-left: 12px;
}
