body {
	font-size: 15pt;
}

table {
	border-collapse: collapse;
	margin: auto;
	width: 500px;
	height: 500px;
	border: 2px solid black;
	border-color: black;
}

td {
	/* border-collapse: collapse; */

	width: 62.5px;
	height: 62.5px;
	color: red;
	border: 0px solid black;
	border-color: black;
}

img {
	grid-column: 1;
	grid-row: 1;
	position: relative;
	z-index: 5;
	width: 60px;
	height: 60px;
}
